@font-face {
    font-family: MyFont;
    src:url(Afsaneh\ Font.ttf);
  }


body div p{

color: rgb(123, 8, 255);
position: absolute;
top: 70px;
left: 150px;
font-size: 20px;
background-color: rgb(119, 255, 0);
font-family: MyFont;
}
}


body hei p{

color: rgb(118, 22, 22);

}
